@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --light-bg-color: #e5e9e7;
  --dark-bg-color: rgba(82, 91, 90, 0.6);
  --primary-color: #f9f9f9;
  --secondary-color: #525b5a;
  --title-color: #21a89a;
  --accent-color: #7cd858;
  --main-gradient: linear-gradient(
    0deg,
    var(--title-color) 0%,
    var(--accent-color) 100%
  );
  --second-gradient: linear-gradient(0.05turn, #21a89a, #44bb81, #67cd68);
  --main-font: "Poppins", sans-serif;
  --shadow: 0rem 0rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-bg-color);
  height: 100vh;
}

h1,
h2,
p {
  font-family: var(--main-font);
  font-weight: 700;
}

.container {
  height: 30vh;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 1rem;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
}

.main-container {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.secondary-container {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.title {
  color: var(--title-color);
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  width: 8rem;
  height: 2rem;
  background: var(--main-gradient);
  border: none;
  border-radius: 0.5rem;
}

.button p {
  margin: 0;
  color: var(--primary-color);
}
