@import url("../../assets/Leaflet/leaflet.css");

.map-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map.container {
  height: 55vh;
  width: 95vw;
  padding: 0.1rem;
  z-index: 1;
}

.map {
  height: 100%;
  width: 100%;
}

.mapMarker {
  color: var(--title-color);
  width: 30px;
  height: 30px;
}

/* -----------MEDIA QUERIES----------- */
@media (min-width: 900px) {
  .map.container {
    height: 76vh;
    width: 72vw;
    padding: 0.1rem;
  }
  .map-component {
    margin-left: 1rem;
  }
}
