.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutUsContent {
  padding: 1rem;
  width: 92vw;
  background: var(--primary-color);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-top: 1rem;
}

.aboutUsContent h1 {
  margin-bottom: 1rem;
}

.aboutUsContent p {
  margin-bottom: 0.5rem;
}

.aboutUsContent a {
  color: var(--title-color);
  text-decoration: none;
}

.aboutUsContent a:hover {
  text-decoration: underline;
}

@media (min-width: 680px) {
  .aboutUsContent {
    width: 60vw;
  }
}
