/*----------GOOGLE FONTS----------------*/

@font-face {
  font-family: "Poppins";
  src: url("../assets/Fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

/*----------CSS VARIABLES--------------*/

:root {
  /*----------COLORS-------------*/
  --light-bg-color: #e5e9e7;
  --dark-bg-color: #525b5a99;
  --primary-color: #f9f9f9;
  --secondary-color: #525b5a;
  --title-color: #21a89a;
  --accent-color: #7cd858;
  --main-gradient: linear-gradient(
    0deg,
    var(--title-color) 0%,
    var(--accent-color) 100%
  );
  --second-gradient: linear-gradient(0.05turn, #21a89a, #44bb81, #67cd68);

  --delete-gradient: linear-gradient(0.05turn, #d32f2f, #ea4242, #f15050);

  /*---------TYPOGRAPHY---------*/
  --main-font: "Poppins", sans-serif;

  /*-----------SHADOW-----------*/
  --shadow: 0rem 0rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
}

/*-----------CODE----------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-bg-color);
}

.connection-page-background {
  background: var(--main-gradient);
  height: 100vh;
}

h1,
h2,
h3,
p {
  font-family: var(--main-font);
  font-weight: 700;
}

span {
  color: var(--title-color);
}

.container {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  padding: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  width: 6.5rem;
  height: 2.5rem;
  background: var(--main-gradient);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: var(--shadow);
  color: var(--primary-color);
  font-family: var(--main-font);
  font-weight: 700;
}

.button:hover,
.button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--title-color);
  transform: translateY(-0.25em);
}

.deletebtn {
  width: 6.5rem;
  height: 2.5rem;
  background: var(--delete-gradient);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--primary-color);
  box-shadow: var(--shadow);
  font-weight: 700;
  font-family: var(--main-font);
}

.deletebtn:hover,
.deletebtn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em red;
  transform: translateY(-0.25em);
}

.footer-box {
  height: 2rem;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer_text {
  font-size: smaller;
  font-weight: 300;
  color: var(--title-color);
}

/*-----------NAV----------------*/
ul {
  list-style: none;
  padding: 0;
  margin: 0%;
}

a {
  text-decoration: none;
}

.error {
  font-family: var(--main-font);
  font-size: small;
  color: red;
}

@media (min-width: 680px) {
  .profile-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
  }
}

@media (min-width: 900px) {
  .home {
    display: flex;
    flex-direction: row;
  }
}
