/* --------MAIN GRID--------- */

.stationComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.stationInfo {
  height: fit-content;
  width: 95vw;
  padding: 0rem;
  background-color: transparent;
  box-shadow: none;
}

.stationInfo.container {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
}

/* -----------COMPONENT GRID----------- */

.station {
  background-color: var(--primary-color);
  height: 100%;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.station > div > img {
  height: 6rem;
  width: 5rem;
  margin-left: 1.3rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
}

.supplementary {
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr;
  gap: 0.5rem;
}

.address {
  background-color: var(--primary-color);
  height: 6rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0.3rem 0 0 0.5rem;
}

.charger {
  background-color: var(--primary-color);
  height: 6rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.3rem;
}

.img-component {
  display: flex;
  width: 4rem;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 0 0;
}

.img-component > img {
  height: 4rem;
  width: 4rem;
}

.supplementary_buttons {
  display: flex;
  justify-content: center;
  align-items: end;
}

.station-btn {
  cursor: unset;
}

.disabled_button {
  background: var(--dark-bg-color);
  cursor: not-allowed;
}

.disabled_button:hover {
  box-shadow: none;
  transform: none;
}

@media (min-width: 450px) {
  .container {
    align-items: unset;
  }

  /* .supplementary_buttons {
    justify-content: space-around;
  } */
}

@media (min-width: 900px) {
  .stationComponent {
    display: flex;
    justify-content: unset;
    margin-top: 0;
  }

  .station {
    margin: 0;
    height: 40vh;
  }

  .station > div > img {
    height: 7rem;
    width: 6rem;
  }

  .stationInfo {
    width: 25vw;
    height: 85vh;
    display: flex;
    flex-direction: row;
  }

  .stationInfo.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .address {
    height: 7rem;
  }

  .charger {
    height: 7rem;
  }

  .supplementary {
    gap: 1rem;
    height: 40vh;
    grid-template-columns: 1fr;
  }
}
