.container {
  margin: 0;
}

.profileComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.profileInfo {
  height: 45vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  gap: 0.5rem;
}

.photoComponent {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: solid 0.2rem var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

.profilePhoto {
  width: 7.8rem;
  height: 7.8rem;
  border-radius: 50%;
}

.noPhoto {
  width: 7.7rem;
  height: 7.7rem;
}

.UserContact {
  display: flex;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.coordinates {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  gap: 1rem;
}

.btn-component {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 680px) {
  .profileComponent {
    margin: 0;
  }

  .profileInfo {
    width: 45vw;
    height: 70vh;
  }

  .photoComponent {
    width: 12.2rem;
    height: 12.2rem;
  }

  .profilePhoto {
    width: 12rem;
    height: 12rem;
  }

  .noPhoto {
    width: 12rem;
    height: 12rem;
  }
}
